/*--подключаю шрифты--*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap&subset=cyrillic-ext');

body {
  background: url("../../img/main-bg.png") no-repeat top center, #0A090A;
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
}

main {
  margin: 430px 0 0 0;
}

.content {
  background: #FFFFFF;
  color: #000000;
  display: flex;
}