.hero_content {
  margin: 0 0 100px 0;
}

.title {
  font-family: Playfair Display, fantasy;
  font-weight: bold;
  font-size: 48px;
  margin: 0 0 10px 0;
}

.subtitle {
  font-size: 20px;
  color: #787878;
  margin: 0 0 40px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
}

.tag {
  margin: 0 20px 0 0;
  background: #FFFFFF;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  padding: 6px 10px;
  cursor: pointer;
}

.when {
  margin: 0 30px 0 0;
}

.play_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;

  img {
    margin: 0 15px 0 0;
  }
}

.more {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    margin: 0 0 0 15px;
  }
}

@media screen and (max-width: 620px) {
  .info {
    flex-wrap: wrap;

    > * {
      margin-top: 26px;
    }
  }

  .more {
    display: none;
  }
}