.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;

  img {
    align-self: start;
    margin-left: 10px;
  }
}

.list {
  display: flex;
  flex: 0 1 750px;
  flex-wrap: wrap;

  > * {
    font-size: 18px;
    cursor: pointer;
    margin: 0 0 10px 0;
    color: black;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      color: rgb(255, 186, 128);
    }
  }
}

.active {
  color: #FF8F27;
}